
#orange{
    background-color: rgb(255, 166, 0);
    width: 320px;
    margin: auto;
}
#purple{
    background-color: rgb(179, 35, 179);
    width: 320px;
    margin: auto;
}
#Red-Orange{
    background-color: rgb(255, 89, 47);
    width: 320px;
    margin: auto;
}
#Yellow-Green{
    background-color: rgb(231, 255, 19);
    width: 320px;
    margin: auto;
}
#Blue-Violet{
    background-color: rgb(39, 186, 255);
    width: 320px;
    margin: auto;
}
#Green{
    background-color: rgb(16, 182, 16);
    width: 320px;
    margin: auto;
}
#Yellow{
    background-color: rgb(255, 255, 0);
    width: 320px;
    margin: auto;
}
#Red{
    background-color: rgb(255, 0, 0);
    width: 320px;
    margin: auto;
}